In [6]:
# Understanding Robust And Exploratory Data Analysis
# Chap1
# 均为自己实现，不当或错误之处请指正


# ==关于秩==
x <- c(2, 3, 3, NA, 4)
# 默认[升秩]
rank(x)

[1] 1.0 2.5 2.5 5.0 4.0

In [7]:
# NA值的处理[na.last=TRUE]
# If TRUE, missing values in the data are put last; 
# if FALSE, they are put first; if NA, they are removed; 
# if "keep" they are kept with rank NA.
rank(x, na.last=NA)

[1] 1.0 2.5 2.5 4.0

In [13]:
# ties.method[一般用平均]
rank(x, na.last=NA, ties.method="average")
rank(x, na.last=NA, ties.method="min")

[1] 1.0 2.5 2.5 4.0

[1] 1 2 2 4

In [20]:
# 降秩
# 因为对于任何一个数据，升秩+降秩=n+1,其中n为数据量大小
n <- length(x)-sum(is.na(x))  # 不考虑确实值
(n+1)-rank(x,na.last=NA)

[1] 4.0 2.5 2.5 1.0

In [21]:
# 深度
upper_rank <- rank(x, na.last=NA)
reduce_rank <- (n+1)-upper_rank
depths <- c()
for(i in 1:length(upper_rank)){
    if(upper_rank[i] >= reduce_rank[i]){depths[i] = reduce_rank[i]}
    else{depths[i] = upper_rank}
}
print(depths)

Warning message in depths[i] <- upper_rank:
“number of items to replace is not a multiple of replacement length”

[1] 1.0 2.5 2.5 1.0

In [23]:
# ==关于茎叶图==
women$height
stem(women$height)

 [1] 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72

  The decimal point is 1 digit(s) to the right of the |

  5 | 89
  6 | 01234
  6 | 56789
  7 | 012